<section class="login-card update-post">
  <form id="update-comment-form" post-id="{{id}}">
    <div class="form-line">
      <label for="comment-title-input" class="form-category">Title:</label>
      <input class="form-input" type="text" id="comment-title-input" placeholder="title" />
    </div>
    <div class="form-line">
      <label for="comment-text-input" class="form-category">Comment:</label>
      <textarea class="form-input form-input-content" type="text" id="comment-text-input"
        placeholder="content"></textarea>
    </div>
    <div class="form-line form-line-btn">
      <button class="form-btn" id="update-submit-btn">SUBMIT</button>
    </div>
  </form>
</section>
<script src="../../../js/add-comment.js"></script>