<section id="dashboard">
  <div>
    <p><a href="/dashboard/write">CREATE NEW POST</a></p>
  </div>
  <div>
    <p><a href="/dashboard/posts">YOUR POSTS</a></p>
  </div>
  <div>
    <p><a href="/dashboard/comments">YOUR COMMENTS</a></p>
  </div>
  <div>
    <p><a href="/dashboard/profile">UPDATE PROFILE</a></p>
  </div>
</section>