<div class="login-card">
  <h2 class="page-title">Login</h2>
  <form class="login-form">
    <div class="form-line">
      <label for="email-login">Email:</label>
      <input class="form-input" type="text" id="email-login" />
    </div>
    <div class="form-line">
      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="form-line form-line-btn">
      <button class="btn btn-primary" type="submit">LOGIN</button>
    </div>
  </form>
  <p><a href="/signup">Sign Up</a></p>
</div>

<script src="./js/login.js"></script>