<section class="login-card write-post">
  <form id="write-post-form">
    <div class="form-line">
      <label for="post-title-input" class="form-category">Title:</label>
      <input class="form-input" type="text" id="post-title-input" placeholder="title" value="{{post.title}}" />
    </div>
    <div class="form-line">
      <label for="post-text-input" class="form-category">Content:</label>
      <textarea class="form-input form-input-content" type="text" id="post-text-input" placeholder="content">{{post.post_text}}</textarea>
    </div>
    <div class="form-line form-line-btn">
      <button class="form-btn" id="update-submit-btn">SUBMIT</button>
    </div>
  </form>
</section>

<script src="../js/write-post.js"></script>